{% extends 'layouts/header.html' %} 
{%block content%}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>

    <div id="body">
        <div class="container block-1 mt-3" >
            <h1>Mi vieja mula ya no es lo que era</h1>
            <p>No se refugien en la poesia ya no cabemos</p>
            <p>Danza kuduro</p>
            </div>
        
        
            <div class="container block-2 mt-3" >
                <h1>Skills</h1>
                <ul class="row">
                    <div class="col-6">
                        <li>EL fuerte debe proteger al dulce</li>
                        <li>Diego nos pilló el Servicio de Impuestos Internos quema todo</li>
                        {% comment %} <li>Ingles C1</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>SQL (Oracle)</li>
                        <li>NoSQL(MongoDB)</li>
                        <li>Python3</li>
                        <li>Django</li>
                        <li>AWS cloud</li>
                        <li>Excell</li> {% endcomment %}
                    </div>
                    <div class="col-6">
                        <p>Usar alguna API k sé yo</p>
                        <p>Y arreglar el cubo no sé que hice y se ve mal en celu ya no me acuerdo</p>
                        <p> ♫♫ Y si no me acuerdo no pasó ♫♫</p>
                    </div>
                </ul>
                <h1(sub?)>Dominio administrado por Matias Osores ;P</h1>
            </div>
        <div id="moon">
            <div id="filled-moon">
                <div id="trans-moon"></div>
            </div>
            
            
        </div>
    
        
        <div class="planets">
            <div id="venus"></div>
            <div id="star1"></div>
           <div id="star2"></div>
           <div id="star3"></div>
           <div id="star4"></div>
           <div id="star5"></div>
           <div id="star6"></div>
           <div id="star7"></div>
           <div id="star8"></div>
           <div id="star9"></div>
        </div>
        <div id="sun"></div>
        <div class="mountains">
            <div id="mountain1"></div>
            <div id="mountain2"></div>
            <div id="mountain3"></div>
            <div id="mountain4"></div>
            <div id="mountain5"></div>
            <div id="mountain6"></div>
            <div id="mountain7"></div>
            <div id="mountain8"></div>
        </div>
       
       <div class="meteor-cont">
           <div class="meteor-ani">
           <div id="meteor"></div>
        </div>
       </div>
       <div class="stars">
           
       </div>
       
    </div>




    
    

</stars>
</body>
</html>
{%endblock%}
```